In [31]:
import pandas as pd

data = {
    "name": ["a", "b", "c", "d", "a", "c"],
    "eng": [8, 7, 5, 8, 8, 4],
    "urdu": [2, 3, 4, 5, 2, 6]
}

In [35]:
df = pd.DataFrame(data)
df.drop_duplicates(inplace=True)

df

  name  eng  urdu
0    a    8     2
1    b    7     3
2    c    5     4
3    d    8     5
5    c    4     6