In [31]:
import pandas as pd

data = {
    "name": ["a", "b", "c", "d", "a", "c"],
    "eng": [8, 7, 5, 8, 8, 4],
    "urdu": [2, 3, 4, 5, 2, 6]
}

In [35]:
df = pd.DataFrame(data)
df.drop_duplicates(inplace=True)

df

  name  eng  urdu
0    a    8     2
1    b    7     3
2    c    5     4
3    d    8     5
5    c    4     6

In [36]:
dataset = pd.read_csv("data/Repair_Motor_vehicle.csv")
dataset.head(3)

,Registration Type,Corporation Name,Trade Name,Business Address,Business Address2,City,State,Zip,Phone Number,# ASE Certified Mechanics,Tow Storage Address,Tow Storage 2,Tow Storage City,Tow Storage State,Tow Storage Zip,Tow Storage Phone,Issue Date,Expiration,Registration No.,Location
0,Corporation,MG Auto & Truck Repair Services LLC,MG Auto & Truck Repair Services LLC,8146 Beechcraft Ave.,8146,Gaithersburg,MD,20879,(301) 848-1294,0,NaN,NaN,NaN,NaN,NaN,NaN,12/11/2024,12/11/2025,19-MT-002754,"8146 Beechcraft Ave.\nGaithersburg, MD 20879\n..."
1,Corporation,"E & S Towing Services, Inc.",E & S Towing Service,15814 Paramount Dr,NaN,Rockville,MD,20855,(240) 304-9367,0,15814 Paramount Dr,NaN,Rockville,MD,20906,(240) 304-9367,12/02/2024,12/02/2025,20-MT-005316,"15814 Paramount Dr\nRockville, MD 20855\n(39.1..."
2,Corporation,"Mohamed M. Kheiry, LLC",Satellite Motors,8109 Mayor Lane,NaN,Silver Spring,MD,20910,(301) 585-7876,0,NaN,NaN,NaN,NaN,NaN,NaN,12/22/2024,12/22/2027,17-MT-001433,"8109 Mayor Lane\nSilver Spring, MD 20910\n(38...."

In [37]:
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2427    False
2428    False
2429    False
2430    False
2431    False
Length: 2432, dtype: bool

In [39]:
dataset.shape

(2432, 20)

In [40]:
dataset.drop_duplicates(inplace=True)

In [41]:
dataset.shape

(2432, 20)